<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Kino reklama </title>
    <link rel="stylesheet" href="{% static 'css\test.css'%}">
</head>
<body>
        <h1><marquee width="70%">  Bizning saytdagi top kinolar bilan tanishing </marquee></h1>
        <h2><pre>   
        <a href="download.html">Muzdan sakrash</a> <> O'rgimchak odam uydan uzoqda  <> Qasoskorlar   <>       Venom   </font></pre></h2>
        <table>
    </div>
        <tr>
        <td><pre><img src="{%static 'images\muzdan_sakrash.jpg'%}" alt="Rasm chiqmayapti negadir">         <img src="{% static 'images\1170277.jpg' %}">         <img src="{%static 'images\18241824.jpg'%}">            <img src="{% static 'images\venom.jpg' %}"></pre></td><hr>
        </table>
        <hr>
        <h2><pre>       Poygachi 1     <>        Qirol sher         <>    Kapitan amerika 4   </pre></h2>
        <table>
        <td><pre>   <img src="{% static 'images\poygachi_1.jpg' %}">           <img src="{% static 'images\qirol_sher.jpg' %">               <img src="{% static 'images\orgimchak.jpg' %}">            <img src="{% static 'images\453112.jpg'%}"></pre></td>

        </table>
        <hr>
        <br>
        <br> <a href="#top"> ^ Tepaga ^ </a>
    
</body>
</html>