<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/uyga-vazifa.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        background-color: black;
}
    </style>
    <title>Contact</title>
</head>
<body>
      <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Toshkent, Uzb</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +948094626</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: @asunteam1824.ru</p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>
    
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
  
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i><img src="{% static 'images/logo_1.png'%}" style="width:10%"></i>
    <i><img src="{% static 'images/logo_5.png'%}" style="width:10%"></i>
    <i><img src="{% static 'images/logo_4.png'%}" style="width:7%"></i>
    <i><img src="{% static 'images/logo_1.png'%}" style="width:10%"></i>
    <i><img src="{% static 'images/logo_4.png'%}" style="width:7%"></i>
    <i><img src="{% static 'images/logo_5.png'%}" style="width:10%"></i>
    
    <p class="w3-medium">Powered by <a href="{% url 'contact' %}" target="_blank" class="w3-hover-text-green">Sukhrob Allamurodov</a></p>
  <!-- End footer -->
  </footer>
</body>
</html>